<section id="img-cate">
    <!-- Latest-Arrivals -->
    <div class="wthreehome-latest">
        <div class="container">
            <h2>MEN COLLECTION</h2>
            <div class="wthreehome-latest-grids">
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid1">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/home/sport3.jpg" alt=""  >
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>Sport</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Men","Product")">Shop Now</a></h6>
                </div>
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid2">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/home/tshirt.jpg"  alt="" >
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>T-Shirt</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Men","Product")">Shop Now</a></h6>
                </div>
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid3">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/home/poloshirt3.jpg" alt=""  >
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>Polo Shirt</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Men","Product")">Shop Now</a></h6>
                </div>
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid4">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/home/jacket2.jpg" alt=""  >
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>Jacket</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Men","Product")">Shop Now</a></h6>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <!-- //Latest-Arrivals -->

    <!--  VIETNAM TRADITIONAL -Collection -->
    <div class="wthreehome-latest">
        <div class="container">
            <h2>VietNam Traditional Dress Collection</h2>
            <div class="wthreehome-latest-grids">
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid1">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/home/baba.jpg" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>Ba Ba</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Women","Product")">Shop Now</a></h6>
                </div>
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid2">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/home/aodai.jpg" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>Long Dress</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Women","Product")">Shop Now</a></h6>
                </div>
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid3">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/home/cachtan.jpg" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>Cach Tan</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Women","Product")">Shop Now</a></h6>
                </div>
                <div class="col-md-3 wthreehome-latest-grid wthreehome-latest-grid4">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/Women/baba/bb3.jpg" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <h4>Dress</h4>
                    <h5></h5>
                    <h6><a href="@Url.Action("Women","Product")">Shop Now</a></h6>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <!--  VIETNAM TRADITIONAL -Collection -->

    <!--  Winter-Collection -->
    <div class="wthreewinter-coll">
        <div class="container">
            <h1>Winter Collection</h1>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>*@
            <div class="wthreeshop-a">
                <a href="#">WINTER COLLECTION</a>
            </div>
        </div>
    </div>
    <!-- //Winter-Collection -->

    <!-- VN-Collection -->
    <div class="wthreedenim-coll">
        <div class="style-grids">
            <div class="col-md-6 style-grid style-grid-1">
                <img src="/assets/client/images/style-1.jpg" alt="">
                <div class="style-grid-1-text">
                    <h3>JEANS COLLECTION</h3>
                    @*<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>*@
                    <div class="wthreeshop-a">
                        <a href="womens.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 style-grid style-grid-2">
                <div class="style-image-1">
                    <a href="#"><img src="/assets/client/images/style-2.jpg" alt=""></a>
                    <div class="style-grid-2-text">
                        <h3>WATER REPELLENT</h3>
                        @*<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>*@
                    </div>
                </div>
                <div class="style-image-2">
                   <a href="#"> <img src="/assets/client/images/style-3.jpg" alt=""> </a>
                    <div class="style-grid-2-text">
                        <h3>STITCHED TO PERFECTION</h3>
                        @*<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>*@
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //VN-Collection -->

    <!-- Clearance-Sale -->
    <div class="aitsclearance-sales">
        <div class="aitsclearance-sales-text">
            <h2>ALL CLEARANCE ITEMS</h2>
            <h4>BUY ONE AND GET ONE FREE</h4>
            <h5>50% OFF <small>On selected products<sup>*</sup></small></h5>
            <div class="wthreeshop-a">
                <a href="mens.html">SHOP NOW</a>
            </div>
        </div>
    </div>
    <!-- //Clearance-Sale -->

    <!-- Shopping -->
    <div class="agileshopping">
        <div class="container">
            <div class="agileshoppinggrids">
                <div class="col-md-6 agileshoppinggrid agileshoppinggrid1">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/mens.jpg" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 agileshoppinggrid agileshoppinggrid2">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="/assets/client/images/womens.jpg" alt="">
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="agileshoppinggrids-bottom">
                <h3>CHOOSE THE BEST FOR YOU</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
                <div class="agileshoppinggrids-bottom-grids">
                    <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid1">
                        <div class="wthreeshop-a">
                            <a href="@Url.Action("Men","Product")">SHOP MEN</a>
                        </div>
                    </div>
                    <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid2">
                        <div class="wthreeshop-a">
                            <a href="@Url.Action("Women","Product")">SHOP WOMEN</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>             
            </div>
          
        </div>
    </div>
    <!-- //Shopping -->
    <!-- Newsletter -->
    <div class="agileinfonewsl">
        <h3>SIGN UP FOR NEWSLETTER</h3>
        <p>Subscribe to us to get highest-level access to our new styles and trends</p>
        <div class="wthreeshop-a">
            <a class="popup-with-zoom-anim" href="#small-dialog3">SUBSCRIBE</a>
        </div>
        <!-- Popup-Box -->
        <div id="popup2">
            <div id="small-dialog3" class="mfp-hide agileinfo">
                <div class="pop_up">
                    <h4>SUBSCRIBE</h4>
                    <form action="#" method="post">
                        <input class="email aitsw3ls" type="email" placeholder="Email" required="">
                        <input type="submit" class="submit" value="SUBSCRIBE">
                    </form>
                </div>
            </div>
        </div>
        <!-- //Popup-Box -->
    </div>
    <!-- //Newsletter -->
</section>

